body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrap_cal{
    display: flex;
    flex-flow: column;
    background-color: rgb(58, 58, 56);
    height:auto ;
}
#calendar_table{
    width: 80vw;
    height:90vh ;
    border-collapse: collapse;
    float:right; 
    
}
.round_circle{
    border: 3px black solid;
    visibility: hidden;
    border-radius: 45%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    vertical-align: text-bottom;
    font-size: 23px;
}

th,td {
    border: 3px solid black;
    height:80px;
    width: auto;
    vertical-align: top;
    background-color: #dddd;
    overflow-wrap: break-word;
    max-width: 8vw;
  }

th{
    text-align: center;
    font-size: 25px;
    background-color: #bbbbbb;
    font-style: italic;
    height: 4vh;
    padding: 8px;
}

#month_name{
    float:left;
    width: 150px;
    min-height: 80px;
    margin-left: 10px;
}

form{
    /*display: flex;*/
    flex-flow: row;
    margin: 5px;
}
#navBar{
    display: flex;
    justify-content: space-evenly;
    width: 180px;
}
#navBar div{
    display: flex;
    background-color: #505050;
    width: 50px;
    height: 40px;
    font-size: 28px;
    margin: 10px;
    justify-content: space-evenly;
    border-radius: 25%;
    color:white;
    
    }

#navBar div:hover{
    background-color: #909090;
    box-shadow: 3px 3px black;
}

input{
    border-radius: 5px;
    font-size: 16px;
}